body {
    background-image: url("img/fondo.jpg");
}

div.centrado {
    text-align: center;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif, "MS Trebuchet";
    color: green;
}

h1 {
    font-size: larger;
    background-color: #FFFFFF;
}

h2 {
    font-size: large;    
    background-color: #FFFFFF;
}

a:link, a:visited, a:active{
    font-family: "Arial Narrow", "MS Trebuchet";
    font-size: large;
    background-color: #FFFFFF;
}

a:link, a:active {
    color: red;
}

a:visited {
    color: gray;
}